<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="contractor">
      <ion-icon name="hammer-outline"></ion-icon>
      <ion-label>Contractor</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inspect">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Inspect</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="signoff">
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label>Sign Off</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="invoice">
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>Invoice</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>