<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/hometabs/callcenter"></ion-back-button>
    </ion-buttons>
    <ion-title>Request List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="term"></ion-searchbar>

  <ion-item>
    <ion-col size="2"><b>#</b></ion-col>
    <ion-col size="3"><b>Date</b></ion-col>
    <ion-col size="4"><b>Discipline</b></ion-col>
    <ion-col size="3"><b>Status</b></ion-col>
  </ion-item>

  <ion-item *ngFor="let request of requests" (click)="openDetailed(request)">
    <ion-col size="2">{{ request.id }}</ion-col>
    <ion-col size="3">{{ request.dateCreated | date: 'yyyy-MM-dd' }}</ion-col>
    <ion-col size="4">{{ request.discipline }}</ion-col>
    <ion-col size="3">{{ request.status }}</ion-col>
  </ion-item>

</ion-content>