<ion-header>
  <ion-toolbar>
    <ion-title>EduFix</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="primary">New Request</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="primary">Request List</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button color="primary">Approvals</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="primary">Statistics</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>