.background-image{
    --background: url(../../../../assets/background.png) 0 0/100% 100% no-repeat;
}

.square {
    width: 80%;
    margin: 1%;
}

.wrapper {
    display: grid;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-items: center;
}